{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "^@?\\w",
    "^components",
    "^utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
