/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/infousuario/styles.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_submitButton__QmRSV {
  margin-top: 1rem;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0.4rem 0;
  border: 1px solid transparent;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.styles_submitButton__QmRSV:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/app/dashboard/styles.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* styles.module.scss */
.styles_prueba__Zx1Tm {
  position: absolute; /* Posición en la esquina superior derecha */
  top: 20px;
  right: 20px;
  background-color: #1e1e1e; /* Fondo oscuro para mayor contraste */
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltarlo */
  font-weight: bold;
  z-index: 1000;
}
