/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/formulario/components/Loader/styles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_spinner__ZbGWp {
  border: 4px solid rgba(38, 37, 37, 0.5);
  border-radius: 50%;
  border-left-color: spin 0.8s ease infinite;
}

@keyframes styles_spin__a5AzD {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(306deg);
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/dashboard/styles.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_submitButton__76K4p {
  margin-top: 1rem;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0.4rem 0;
  border: 1px solid transparent;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.styles_submitButton__76K4p:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
