.submitButton{
    margin-top: 1rem;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: .4rem 0;
    border: 1px solid transparent;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;

    &:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}
.fieldRow {
  display: flex;
  align-items: center;
  gap: 5px; 
}


.loadingField {
  background: linear-gradient(
    90deg,
    rgb(25, 24, 24) 0%,
    rgb(48, 46, 46) 50%,
    rgb(114, 114, 114) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
  color: transparent; 
  width: 80px; 
  height: 1.5rem; 
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
